body,html{
    font-family: 'light';
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

i{
    display: inline-block;
    background-size: cover;
    -webkit-background-size: cover;
}

i.logo-top{
    width: 119px;
    height: 42px;
    background-image: url(../img/logo.png);
    float: left;
}

i.phone-icon{
    width: 13px;
    height: 18px;
    background-image: url(../img/phone.png);
    position: relative;
    top: 2px;
    left: -2px;
}

.main-width{
    width: 1040px;
}

.center{
    margin: 0 auto;
}

.main-head{
    text-align: center;
    padding: 20px 0;
    line-height: 40px;
    z-index: 99;
    position: absolute;
    width: 100%;
    color: #fff;
}

.phone{
    float: right;
}

.main-menu{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.main-menu a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    -webkit-transition: border .1s ease;
    -moz-transition: border .1s ease;
    -ms-transition: border .1s ease;
    -o-transition: border .1s ease;
    transition: border .1s ease;
}

.main-menu a:hover{
    border-bottom: 1px solid rgba(255,255,255,0);
}

.main-menu li{
    display: inline-block;
}
.main-menu li + li{
    margin-left: 57px;
}

.main-section{
    height: calc(85vh - 100px);
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../img/main-bg.jpg);
    background-position: center;
    line-height: 90vh;
    text-align: center;
    padding-top: 100px;
}

.slider-main{
    height: 100%;
    min-height: 750px;
}

.slide{
    min-height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    line-height: 750px;
    text-align: center;
}

.slide-inside{
    top: 50%;
    line-height: 1;
    display: inline-block;
    text-align: left;
}

.main-section-inner{
    display: inline-block;
    line-height: 1;
    color: #fff;
}

.main-section-main-text{
    font-size: 61.5px;
    line-height: 68px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main-section-text{
    font-weight: 100;
    font-size: 25.47px;
    line-height: 34.39px;
    margin-bottom: 40px;
}

.button-call-main {
    color: #fff;
    font-size: 21px;
    background: #26a9e0;
    display: inline-block;
    padding: 8px 13px 11px;
    position: relative;
    cursor: pointer;
    line-height: 1;
    box-shadow: 0px 1px rgba(0,0,0,.25);
    font-family: 'regular';
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    border: 0;
    outline: none;
}
.button-call-main:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 12px 20px 0;
    border-color: transparent #26a9e0 transparent transparent;
    position: absolute;
    left: -12px;
    top: 0;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.button-call-main:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 12px;
    border-color: transparent transparent transparent #26a9e0;
    position: absolute;
    right: -12px;
    top: 0;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.button-call-main:hover{
    background: #349fcc;
    text-shadow: 0px 1px rgba(0,0,0,.35);
}
.button-call-main:hover:before{
    border-color: transparent #349fcc transparent transparent;
}

.button-call-main:hover:after{
    border-color: transparent transparent transparent #349fcc;
}

.options-main{
    position: absolute;
    line-height: 1;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.main-options-inner {
    display: inline-block;
}

.option-main-wrap{
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
}
.option-main-wrap i{
    margin-bottom: 10px;
}
.option-main-wrap+.option-main-wrap{
    margin-left: 71px;
}
.main-option-text{
    font-size: 16px;
    line-height: 20px;
}

.option-main-1 i{
    width: 28px;
    height: 32px;
    background-image: url(../img/main-i-1.png);
}
.option-main-2 i{
    background-image: url(../img/main-i-2.png);
    width: 26px;
    height: 26px;
}
.option-main-3 i{
    background-image: url(../img/main-i-3.png);
    width: 36px;
    height: 21px;
}
.option-main-4 i{
    background-image: url(../img/main-i-4.png);
    width: 27px;
    height: 28px;
}
.option-main-5 i{
    background-image: url(../img/main-i-5.png);
    width: 63px;
    height: 19px;
}
.option-main-6 i{
    background-image: url(../img/main-i-6.png);
    width: 23px;
    height: 23px;
}


.second-section{
    min-height: 100vh;
}

.second-inner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.second-main-text{
    font-size: 48px;
    line-height: 58px;
    display: inline-block;
    vertical-align: top;
}

.second-main-subline{
    color: #999;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
}

.second-href{
    color:#999;
    text-decoration: none;
    display: inline;
    border-bottom: 1px dotted #999;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.second-href:hover{
    color: #3A3A3A;
    border-bottom: 1px dotted rgba(0,0,0,0);
}

.options{
    margin-top: 90px;
    overflow: hidden;
    margin-bottom: 50px;
}

.option{
    float: left;
}

.option-num{
    display: inline-block;
    font-size: 90px;
    color: #26a9e0;
    margin-right: 22px;
}

.option-head {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: normal;
    display: inline-block;
    font-family: 'regular';
    vertical-align: top;
    margin-top: 19px;
}

.option-text {
    font-size: 18px;
    color: #1e1e1e;
    line-height: 24px;
    line-height: 1.48;
}

.map-left-head {
    color: #26a9e0;
    margin: 0;
    font-family: 'regular';
    font-size: 32.03px;
    line-height: 42.03px;
    margin-bottom: 40px;
    font-weight: normal;
}

.map-left-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
    letter-spacing: -0.25px;
}

.map-left .button-call-main{
    margin-bottom: 10px;
}

.map-left-subline{
    color:#999999;
    font-size: 13px;
    line-height: 16px;
}

.map-image{
    /*background-image: url(../img/map-1.png);
    width: 756px;
    height: 296px;*/
    position: relative;
    perspective: 8000px;
    top: -15px;
}

.map-norm{
    background: url(../img/room_scheme_new.png);
    background-size: 100%;
    width: 740px;
    height: 338px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    left: 9px;
    -webkit-transform: rotateZ(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateZ(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateZ(0) rotateY(0) rotateZ(0);
    -o-transform: rotateZ(0) rotateY(0) rotateZ(0);
    transform: rotateZ(0) rotateY(0) rotateZ(0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.started .map-norm{
    -webkit-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -moz-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -ms-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -o-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
}

.started .map-norm:after{
    opacity: 0.5;
}

.map-norm:after{
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 12px);
    height: calc(100% - 8px);
    background: #e7f6ff;
    top: 6px;
    left: 6px;
    z-index: -2;
    -webkit-transform: translate3d(-2px,-2px,-2px);
    -moz-transform: translate3d(-2px,-2px,-2px);
    -ms-transform: translate3d(-2px,-2px,-2px);
    -o-transform: translate3d(-2px,-2px,-2px);
    transform: translate3d(-2px,-2px,-2px);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 0;
}

.pins{
    position: absolute;
    width: 740px;
    height: 338px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -moz-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -ms-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -o-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    left: 9px;
    z-index: 9;
}

.circls{
    position: absolute;
    width: 740px;
    height: 338px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -moz-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -ms-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    -o-transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    transform: rotateZ(71deg) rotateX(42deg) rotateY(-60deg);
    left: 9px;
    z-index: 8;
}

.pin{
    background: url(../img/pin_map.png);
    width: 34px;
    height: 34px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

.started .pin{
    opacity: 1;
}

.pin1{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,-150px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,-150px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,-150px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,-150px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,-150px);
}

.started .pin1{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,0px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,0px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,0px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,0px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(46px,35px,0px);
}

.pin2{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,-150px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,-150px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,-150px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,-150px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,-150px);
}

.started .pin2{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,0px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,0px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,0px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,0px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(232px,105px,0px);
}

.pin3{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,-150px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,-150px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,-150px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,-150px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,-150px);
}

.started .pin3{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,0px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,0px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,0px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,0px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(136px,178px,0px);
}

.pin4{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,-150px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,-150px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,-150px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,-150px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,-150px);
}

.started .pin4{
    -webkit-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,0px);
    -moz-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,0px);
    -ms-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,0px);
    -o-transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,0px);
    transform: rotateX(-90deg) rotateY(50deg) translate3d(420px,188px,0px);
}

.circ{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(209, 255, 204, 0.5);
}

.circ-m,.circ-s{
    display: block;
    content: '';
    position: absolute;
    border-radius: 50%;
}

.circ,.circ-m,.circ-s{
    -webkit-transition: opacity 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975), transform 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975);
    -moz-transition: opacity 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975), transform 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975);
    -ms-transition: opacity 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975), transform 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975);
    -o-transition: opacity 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975), transform 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975);
    transition: opacity 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975), transform 950ms cubic-bezier(0.390, 0.575, 0.425, 0.975);
    -webkit-transition-delay: 1.6s;
    -moz-transition-delay: 1.6s;
    -ms-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    transition-delay: 1.6s;
}

.circ-m{
    width: 140px;
    height: 140px;
    background: rgba(255,255,255,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,193,107,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,193,107,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,193,107,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,193,107,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,193,107,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,193,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffc16b', GradientType=1 );
    margin-left: 55px;
    margin-top: 55px;
}

.circ-s{
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,137,107,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,137,107,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,137,107,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,137,107,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,137,107,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,137,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff896b', GradientType=1 );
    margin-top: 95px;
    margin-left: 95px;
}

.cir1,.cir2,.cir3,.cir4,.cir-s-1,.cir-m-1,.cir-s-2,.cir-m-2,.cir-s-3,.cir-m-3,.cir-m-4,.cir-s-4{
    opacity: 0;
}

.started .cir1,.started .cir2,.started .cir3,.started .cir4,.started .cir-s-1,.started .cir-m-1,.started .cir-s-2,.started .cir-m-2,.started .cir-s-3,.started .cir-m-3,.started .cir-m-4,.started .cir-s-4{
    opacity: 1;
}

.cir1 {
    -webkit-transform: translate3d(10px,-55px,0) scale3d(0.725,0.725,1);
    -moz-transform: translate3d(10px,-55px,0) scale3d(0.725,0.725,1);
    -ms-transform: translate3d(10px,-55px,0) scale3d(0.725,0.725,1);
    -o-transform: translate3d(10px,-55px,0) scale3d(0.725,0.725,1);
    transform: translate3d(10px,-55px,0) scale3d(0.725,0.725,1);
}

.cir-m-1{
    -webkit-transform: translate3d(10px,-55px,0) scale3d(0.6,0.6,1);
    -moz-transform: translate3d(10px,-55px,0) scale3d(0.6,0.6,1);
    -ms-transform: translate3d(10px,-55px,0) scale3d(0.6,0.6,1);
    -o-transform: translate3d(10px,-55px,0) scale3d(0.6,0.6,1);
    transform: translate3d(10px,-55px,0) scale3d(0.6,0.6,1);    
}

.cir-s-1{
    -webkit-transform: translate3d(10px,-55px,0) scale3d(0.2,0.2,1);
    -moz-transform: translate3d(10px,-55px,0) scale3d(0.2,0.2,1);
    -ms-transform: translate3d(10px,-55px,0) scale3d(0.2,0.2,1);
    -o-transform: translate3d(10px,-55px,0) scale3d(0.2,0.2,1);
    transform: translate3d(10px,-55px,0) scale3d(0.2,0.2,1);
}

.started .cir1,.started .cir-m-1,.started .cir-s-1{
    -webkit-transform: translate3d(10px,-55px,0) scale3d(1,1,1);
    -moz-transform: translate3d(10px,-55px,0) scale3d(1,1,1);
    -ms-transform: translate3d(10px,-55px,0) scale3d(1,1,1);
    -o-transform: translate3d(10px,-55px,0) scale3d(1,1,1);
    transform: translate3d(10px,-55px,0) scale3d(1,1,1);
}

.cir2{
    -webkit-transform: translate3d(240px,-75px,0) scale3d(0.725,0.725,1);
    -moz-transform: translate3d(240px,-75px,0) scale3d(0.725,0.725,1);
    -ms-transform: translate3d(240px,-75px,0) scale3d(0.725,0.725,1);
    -o-transform: translate3d(240px,-75px,0) scale3d(0.725,0.725,1);
    transform: translate3d(240px,-75px,0) scale3d(0.725,0.725,1);
}

.cir-m-2{
    -webkit-transform: translate3d(240px,-75px,0) scale3d(0.6,0.6,1);
    -moz-transform: translate3d(240px,-75px,0) scale3d(0.6,0.6,1);
    -ms-transform: translate3d(240px,-75px,0) scale3d(0.6,0.6,1);
    -o-transform: translate3d(240px,-75px,0) scale3d(0.6,0.6,1);
    transform: translate3d(240px,-75px,0) scale3d(0.6,0.6,1);    
}

.cir-s-2{
    -webkit-transform: translate3d(240px,-75px,0) scale3d(0.2,0.2,1);
    -moz-transform: translate3d(240px,-75px,0) scale3d(0.2,0.2,1);
    -ms-transform: translate3d(240px,-75px,0) scale3d(0.2,0.2,1);
    -o-transform: translate3d(240px,-75px,0) scale3d(0.2,0.2,1);
    transform: translate3d(240px,-75px,0) scale3d(0.2,0.2,1);
}

.started .cir2,.started .cir-m-2,.started .cir-s-2{
    -webkit-transform: translate3d(240px,-75px,0) scale3d(1,1,1);
    -moz-transform: translate3d(240px,-75px,0) scale3d(1,1,1);
    -ms-transform: translate3d(240px,-75px,0) scale3d(1,1,1);
    -o-transform: translate3d(240px,-75px,0) scale3d(1,1,1);
    transform: translate3d(240px,-75px,0) scale3d(1,1,1);
}

.cir3{
    -webkit-transform: translate3d(480px,-75px,0) scale3d(0.725,0.725,1);
    -moz-transform: translate3d(480px,-75px,0) scale3d(0.725,0.725,1);
    -ms-transform: translate3d(480px,-75px,0) scale3d(0.725,0.725,1);
    -o-transform: translate3d(480px,-75px,0) scale3d(0.725,0.725,1);
    transform: translate3d(480px,-75px,0) scale3d(0.725,0.725,1);
}

.cir-m-3{
    -webkit-transform: translate3d(480px,-75px,0) scale3d(0.6,0.6,1);
    -moz-transform: translate3d(480px,-75px,0) scale3d(0.6,0.6,1);
    -ms-transform: translate3d(480px,-75px,0) scale3d(0.6,0.6,1);
    -o-transform: translate3d(480px,-75px,0) scale3d(0.6,0.6,1);
    transform: translate3d(480px,-75px,0) scale3d(0.6,0.6,1);
}

.cir-s-3{
    -webkit-transform: translate3d(480px,-75px,0) scale3d(0.2,0.2,1);
    -moz-transform: translate3d(480px,-75px,0) scale3d(0.2,0.2,1);
    -ms-transform: translate3d(480px,-75px,0) scale3d(0.2,0.2,1);
    -o-transform: translate3d(480px,-75px,0) scale3d(0.2,0.2,1);
    transform: translate3d(480px,-75px,0) scale3d(0.2,0.2,1);
}

.started .cir3,.started .cir-m-3,.started .cir-s-3{
    -webkit-transform: translate3d(480px,-75px,0) scale3d(1,1,1);
    -moz-transform: translate3d(480px,-75px,0) scale3d(1,1,1);
    -ms-transform: translate3d(480px,-75px,0) scale3d(1,1,1);
    -o-transform: translate3d(480px,-75px,0) scale3d(1,1,1);
    transform: translate3d(480px,-75px,0) scale3d(1,1,1);
}

.cir4{
    -webkit-transform: translate3d(299px, 118px, 0) scale3d(0.725,0.725,1);
    -moz-transform: translate3d(299px, 118px, 0) scale3d(0.725,0.725,1);
    -ms-transform: translate3d(299px, 118px, 0) scale3d(0.725,0.7251,1);
    -o-transform: translate3d(299px, 118px, 0) scale3d(0.725,0.725,1);
    transform: translate3d(299px, 118px, 0) scale3d(0.725,0.725,1);
}

.cir-m-4{
    -webkit-transform: translate3d(299px, 118px, 0) scale3d(0.6,0.6,1);
    -moz-transform: translate3d(299px, 118px, 0) scale3d(0.6,0.6,1);
    -ms-transform: translate3d(299px, 118px, 0) scale3d(0.6,0.61,1);
    -o-transform: translate3d(299px, 118px, 0) scale3d(0.6,0.6,1);
    transform: translate3d(299px, 118px, 0) scale3d(0.6,0.6,1);
}

.cir-s-4{
    -webkit-transform: translate3d(299px, 118px, 0) scale3d(0.2,0.2,1);
    -moz-transform: translate3d(299px, 118px, 0) scale3d(0.2,0.2,1);
    -ms-transform: translate3d(299px, 118px, 0) scale3d(0.2,0.21,1);
    -o-transform: translate3d(299px, 118px, 0) scale3d(0.2,0.2,1);
    transform: translate3d(299px, 118px, 0) scale3d(0.2,0.2,1);
}

.started .cir4,.started .cir-m-4,.started .cir-s-4 {
    -webkit-transform: translate3d(299px, 118px, 0) scale3d(1,1,1);
    -moz-transform: translate3d(299px, 118px, 0) scale3d(1,1,1);
    -ms-transform: translate3d(299px, 118px, 0) scale3d(1,1,1);
    -o-transform: translate3d(299px, 118px, 0) scale3d(1,1,1);
    transform: translate3d(299px, 118px, 0) scale3d(1,1,1);
}

.map-right,.map-left{
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 408px;
}

.map-left{
    margin-top: 20px;
}

.map-description{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.descr{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    position: relative;
    padding-top: 23px;
}

.descr-1{
    margin-left: 110px;
}

.descr+.descr{
    margin-left: 45px;
}

.descr-text{
    color:#2f2f2f;
    opacity: .7;
    font-size: 12px;
    line-height: 1.2;
}

.descr:before{
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
}

.descr-1:before{
    background:#e9caa0;
}

.descr-2:before{
    background:#e3ecad;
}
.descr-3:before{
    background:#dbffd9;
}
.descr-4:before{
    background:#eaf6ff;
}
.descr-5:before{
    width: 40px;
    height: 6px;
    background: #a6d7fa;
    border-radius: 0;
    top: 6px;
}

.third-section{
    padding-bottom: 100px;
    overflow: hidden;
}

.third-right{
    float: right;
}

.third-head{
    line-height: 58px;
    font-size: 48px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 55px;
    letter-spacing: -0.5px;
}

.third-text{
    font-size: 22px;
    line-height: 30px;
}

.third-left{
    /*background: url(../img/aruba.png);*/
    width: 816px;
    height: 528px;
    position: absolute;
    z-index: -1;
    margin-left: -225px;
    margin-top: 35px;
    text-align: center;
    /*-webkit-transform: translate3d(0,50px,0);
    -moz-transform: translate3d(0,50px,0);
    -ms-transform: translate3d(0,50px,0);
    -o-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    opacity: .5;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

/*.third-left.visible {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}*/

i.aruba-clients{
    background-image: url(../img/clients.png);
    width: 560px;
    height: 59px;
    margin-top: 32px;
}

.fourth-section{
    padding: 60px 0 50px;
    background: #26a9e0;
}

.install-inner{
    color: #fff;
}

.install-head{
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 90px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.install-step{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 22px;
    line-height: 30px;
    position: relative;
}

.install-step i{
    margin-bottom: 12px;
}

.install-step.step-1 i{
    background-image: url(../img/step-1.png);
    width: 120px;
    height: 83px;
}
.install-step.step-2 i{
    background-image: url(../img/step-2.png);
    width: 133px;
    height: 94px;
    margin-left: -10px;
}
.install-step.step-3 i{
    background-image: url(../img/step-3.png);
    width: 66px;
    height: 94px;
    margin-left: 25px;
}
.install-step.step-4 i{
    background-image: url(../img/step-4.png);
    width: 112px;
    height: 96px;
}

.install-steps{
    text-align: center;
}

.install-step+.install-step{
    margin-left: 153px;
}

.install-step+.install-step:before{
    display: block;
    content: '';
    background-image: url(../img/arc.png);
    width: 211px;
    height: 54px;
    position: absolute;
    top: -10px;
}

.step-1+.step-2{
    margin-left: 115px;
}

.step-1+.step-2:before{
    left: -201px;
}

.step-2+.step-3{
    margin-left: 170px;
}

.step-2+.step-3:before {
    left: -189px
}

.step-3+.step-4{
    margin-left: 160px;
}

.step-3+.step-4:before {
    left: -204px;
}

.section-clients{
    padding-top: 100px;
    padding-bottom: 100px;
}

.clients-head{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.5px;
    margin-bottom: 50px;
}

i.clients-wifix{
    background: url(../img/clients-wifix-1.png);
    width: 1040px;
    height: 167px;
}

.section-contacts{
    background: #2b2b2b;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
}

#gmap{
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2b2b2b;
}

.contacts-inner{
    position: relative;
    z-index: 1;
    color: #fff;
    overflow: hidden;
}

.contacts-head{
    float: left;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top: -58px;
}

.contacts-right{
    float: right;
    font-size: 22px;
    line-height: 30px;
}

.send-mail{
    color: #7ed3f6;
}

.contacts-button {
    color: #044166;
    background: #fff !important;;
}

.contacts-button:before{
    border-color: transparent #fff transparent transparent !important;
}

.contacts-button:after{
    border-color:transparent transparent transparent #fff !important;
}

.contacts-button:hover{
    color: #aaaaaa;
    text-shadow: none;
}

.dark{
    position: fixed;
    background: rgba(0,0,0,.9);
    width: 100vw;
    z-index: 99999;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.opened .dark{
    visibility: visible;
}

.close-feedback{
    color: #efeff3;
    font-size: 13px;
    position: fixed;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

i.close{
    background: url(../img/close.png);
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.feedback-wrap{
    position: fixed;
    width: 440px;
    height: 360px;
    left: 50%;
    top: 50%;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.feedback-form {
    background-color: #fff;
    padding: 33px 45px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.opened .feedback-wrap{
    visibility: visible;
}

.opened .feedback-form{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

.feedback-head{
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 30px;
}

.text{
    border: 2px solid #e6e6e6;
    padding: 10px  22px 14px;
    color: #666666;
    font-size: 21px;
    clear: both;
    width: 306px;
    outline: none;
    margin-bottom: 10px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.text:focus{
    border-color: #fff;
    color: #1a1a1a;
}

.feedback-button{
    margin-top: 17px;
}
i.ok{
    background: url(../img/ok.png);
    width: 19px;
    height: 14px;
    position: absolute;
    top: 224px;
    right: 55px;
}